<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>用户管理</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="../lib/layui-v2.5.4/css/layui.css"
	media="all">
<link rel="stylesheet" href="../css/public.css" media="all">
<script src="../lib/jquery-3.4.1/jquery-3.4.1.min.js"></script>
<script src="../lib/layui-v2.5.4/layui.js" charset="utf-8"></script>

</head>
<body>
	<div class="layuimini-container">
		<div class="layuimini-main">
			<fieldset class="layui-elem-field layuimini-search">
				<legend>搜索信息</legend>
				<div style="margin: 10px 10px 10px 10px">
					<form class="layui-form layui-form-pane" action="">
						<div class="layui-form-item">
							<div class="layui-inline">
								<label class="layui-form-label">机器号</label>
								<div class="layui-input-inline">
									<select name="device_sn" id="device_sn">

									</select>
								</div>
							</div>
							<div class="layui-inline">
								<label class="layui-form-label">用户姓名</label>
								<div class="layui-input-inline">
									<input type="text" id="name" autocomplete="off"
										class="layui-input">
								</div>
							</div>
							<div class="layui-inline">
								<a class="layui-btn" lay-submit="" lay-filter="data-search-btn">搜索</a>
							</div>
						</div>
					</form>
				</div>
			</fieldset>


			<div class="layui-form-item">
				<div class="layui-inline">
					<button class="layui-btn data-add-btn">添加</button>
				</div>

				<div class="layui-inline">
					<form class="layui-form layui-form-pane">
						<label class="layui-form-label">操作</label>
						<div class="layui-input-inline">
							<select id="quiz" lay-filter="operation">
								<option value="">请选择</option>
								<optgroup label="Server Data Operation">
									<option value="deleteUserServ">Delete Server User</option>
									<option value="deleteUserFaceServ">Delete face temp
										from server</option>
									<option value="deleteUserFpServ">Delete user FP from
										server</option>
									<option value="deleteUserPicServ">Delete user pic from
										server</option>

								</optgroup>
								<optgroup label="DATA CMD">
									<option value="sendUserDev">Send users to device (DATA
										UPDATE CMD, including User/FP/Face/User Pic)</option>
									<option value="6">Transfer data to new device (DATA
										UPDATE CMD, including User/FP/Face/User Pic)</option>
									<option value="deleteUserDev">Delete users from device
										(DATA DELETE CMD, including User/FP/Face/User Pic)</option>
									<option value="deleteUserFpDev">Delete user FP from
										device (DATA DELETE FINGERTMP CMD)</option>
									<option value="deleteUserPicDev">Delete user pic from
										device (DATA DELETE USERPIC CMD)</option>
									<option value="deleteUserFaceDev">Delete face temp
										from device (DATA DELETE FACE CMD)</option>

								</optgroup>
							</select>
						</div>
					</form>
				</div>
			</div>

			<table class="layui-hide" id="currentTableId"
				lay-filter="currentTableFilter"></table>
			<script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
        </script>
		</div>
		<!-- 	</div> -->


		<script>
		var url = 'http://localhost:8666/iclock/';
		$(function() {
			$.ajax({
				url : url + 'kaoqin/combobox',
				type : "GET",
				dataType : "json",
				success : function(result) {
					var htmls = '<option value="">请选择</option>'; //全局变量

					for ( var x in result) {
						htmls += '<option value = "' + result[x].id + '">'
								+ result[x].text + '</option>'

					}
					$("#device_sn").html(htmls);
				}
			});
			renderForm();
		});

		//重新渲染表单函数
		function renderForm() {
			layui.use('form', function() {
				var form = layui.form; //高版本建议把括号去掉，有的低版本，需要加()
				form.render();
			});
		}

		layui
				.use(
						[ 'form', 'table' ],
						function() {
							var $ = layui.jquery, form = layui.form, table = layui.table;

							table.render({
								elem : '#currentTableId',
								url : url + "kaoqin/userList",
								cols : [ [ {
									type : "checkbox",
									fixed : "left"
								}, {
									field : 'user_id',
									title : 'ID',
									hide : true
								}, {
									field : 'user_pin',
									title : 'user_pin',
									align : 'center',
									width:100,
									 fixed: 'left'
								}, {
									field : 'device_sn',
									width : '150',
									title : 'device_sn',
									align : 'center'
								}, {
									field : 'name',
									title : 'name',
									align : 'center'
								}, {
									field : 'privilege',
									title : 'privilege',
									align : 'center'
								}, {
									field : 'category',
									title : 'category',
									align : 'center'
								}, {
									field : 'acc_group_id',
									title : 'acc_group_id',
									align : 'center'
								}, {
									field : 'main_card',
									title : 'main_card',
									align : 'center'
								}, {
									field : 'photo_id_content',
									title : 'picture'
									 ,templet: function(d){
										 if(d.photo_id_content!=null){
											 return '<a class="avatar"><img src="data:image/jpeg;base64,'+d.photo_id_content+'" width="30" height="30"/></a>'; 
										 }else{
											 return "no picture"; 
										 }
									       
									      },
				
									align : 'center'
								}, {
									field : 'userFpCount',
									title : 'userFpCount',
									align : 'center'
								}, {
									field : 'userFaceCount',
									title : 'userFaceCount',
									align : 'center'
								}, {
									title : '操作',
									templet : '#currentTableBar',
									width:80,
									align : "center"
									, fixed: 'right'
								} ] ],
								cellMinWidth : 130,
								limits : [ 10, 15, 20, 25, 50, 100 ],
								limit : 10,
								page : true,
								done: function(res, curr, count) {
									hoverOpenImg(); //显示大图
								}
							});

							// 监听搜索操作
							form.on('submit(data-search-btn)', function(data) {
								//执行搜索重载
								table.reload('currentTableId', {
									page : {
										curr : 1
									},
									where : {
										device_sn : $("#device_sn").val(),
										name : $("#name").val()
									}
								}, 'data');

								return false;
							});

							// 监听添加操作
							$(".data-add-btn").on(
									"click",
									function() {
										x_admin_show('添加员工信息',
												$('#addAndUpdate'), 500, 540);
										surl = "kaoqin/user_add";
										$("#pic").show();
										$("#user_id").val(0);
										$('#user_pin').removeAttr('disabled') ;
										addAndUpdate(surl) ;
							
									});

							// 监听删除操作
							$(".data-delete-btn")
									.on(
											"click",
											function() {
												var checkStatus = table
														.checkStatus('currentTableId'), data = checkStatus.data;
												layer.alert(JSON
														.stringify(data));
											});
							
							//监听表格复选框选择
							table.on('checkbox(currentTableFilter)', function(
									obj) {
								console.log(obj)
							});
							table.on('tool(currentTableFilter)', function(obj) {
								var data = obj.data;
								if (obj.event === 'edit') {
									x_admin_show('修改员工信息', $('#addAndUpdate'), 500, 540);
									$("#pic").hide();
									$('#user_pin').attr('disabled', 'disabled');
									surl = "kaoqin/user_modify";
									addAndUpdate(surl);
									form.val('form3', data);
								} 
							});
							
							
							form.on('select(operation)', function(data){
								var dataq = table.checkStatus('currentTableId').data;
                              	
                              	if(dataq.length<1){
                              		layer.msg("请至少选择一条数据");
                                 $('#quiz').val("");
                        
                              layui.form.render();
                              	}else{
                              		var uids="";
                              		for(var i=0;i<dataq.length;i++){
                              			uids+=dataq[i].user_id+",";
                              		}
                              		uids=uids.substr(0,uids.length-1);
                              		var server=data.value;
                              		var url_path=url+"kaoqin/"+server;
                        		      $.post(url_path,{
                        		    	  userId: uids
                                      	},function(data){
                                      		if(data.code>0){
                                      			layer.alert("操作成功", {
            										icon: 6
            									}, function() {
            										layer.closeAll();
            					                      $('#quiz').val("");
            					                   layui.form.render();
            										table.reload("currentTableId");
            									});
                
                                      		}

                                      	
                                      	}
                                     ,"json" );
                              		/* layer.msg("已选择"+dataq.length+"条数据,用户id是:"+uid+"操作:"+data.value+"正在执行"); */
                              	}
                              	
                              	});
						});


		function x_admin_show(title, url, w, h, flag) {
			if (title == null || title == '') {
				title = false;
			}
			;
			if (url == null || url == '') {
				url = "404.html";
			}
			;
			if (w == null || w == '') {
				w = ($(window).width() * 0.9);
			}
			;
			if (h == null || h == '') {
				h = ($(window).height() - 50);
			}
			;
			var index = layer
					.open({
						type : 1,
						area : [ w + 'px', h + 'px' ],
						fix : false, //不固定
						maxmin : true,
						shadeClose : true,
						shade : 0.4,
						title : title,
						content : url,
						cancel : function(index, layero) {

						} 
						
					});
			//layer.full(index);
		}
		
		function resetForm() {
		
				layui.use(['form'], function() {
					var form = layui.form;
					var elms = $("#addAndUpdateSave [name]");
					var obj = {};
					$.each(elms, function(i, item) {
						if(i > 0) {
							var name = $(item).attr("name");
							obj[name] = "";
						}
					});
					form.val("form3", obj);
				});


		}
		
		//显示大图片
		function hoverOpenImg() {
			var img_show = null; // tips提示
			$('td img').hover(function() {
				var img = "<img class='img_msg' src='" + $(this).attr('src') + "' style='width:200px;height:200px;' />";
				img_show = layer.tips(img, this, {
					tips: [1, 'rgba(41,41,41,.5)'],
					area: ['230px', '220px']
				});
			}, function() {
				layer.close(img_show);
			});

		}
	
	
		//修改添加共用方法
		function addAndUpdate(surl) {
	
			resetForm();
			
			layui.use(['form', 'table'],
				function() {
					var form = layui.form,
						table = layui.table;
					form.on('submit(formDemo)', function(data) {
						var formData = new FormData($("#addAndUpdateSave")[0]);
						
						if(surl.indexOf("user_modify") != -1){
							formData.delete("userPic");
						}
						$.ajax({
							url: url + surl,
							type: 'POST',
							data: formData,
							cache: false,
							async: false,
							processData: false, //必须false才会避开jQuery对 formdata 的默认处理
							contentType: false, //必须false才会自动加上正确的Content-Type
							success: function(data) {    
								if(data.code == 0) {
									layer.alert("操作成功", {
										icon: 6
									}, function() {
										layer.closeAll();
										table.reload("currentTableId");
									});

								} else {
									layer.alert("操作失败", {
										icon: 5
									}, function() {
										layer.closeAll();
									});
								}
							},
							error: function(data) {
								layer.msg("服务器端出现问题");
							}
						});
						return false;
					});
				});
		}

	</script>
		<div style="margin: 15px; display: none" id="addAndUpdate">
			<form class="layui-form" id="addAndUpdateSave" lay-filter="form3"
				enctype="multipart/form-data">
				<div class="layui-form-item">
					<label class="layui-form-label" style="width: 150px">Employee
						No</label>
					<div class="layui-input-inline">
						<input type="text" value="0" name="user_id" id="primary_id"
							style="display: none;" /> <input type="text" name="user_pin"
							id="user_pin" placeholder="enter the Employee No"
							lay-verify="required" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label" style="width: 150px">Name</label>
					<div class="layui-input-inline">
						<input type="text" name="name" placeholder="enter the userName"
							lay-verify="required" autocomplete="off" class="layui-input">
					</div>

				</div>

				<div class="layui-form-item" style="margin-top: 20px">
					<label class="layui-form-label" style="width: 150px">Card
						No.</label>
					<div class="layui-input-inline">

						<input type="text" name="main_card"
							placeholder="enter the userCard" autocomplete="off"
							class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label" style="width: 150px">Password</label>
					<div class="layui-input-inline">
						<input type="text" name="password" lay-verify="required"
							placeholder="enter the userPassword" autocomplete="off"
							class="layui-input">
					</div>
				</div>
				<div class="layui-form-item" id="pic">
					<label class="layui-form-label" style="width: 150px">User
						Picture</label>
					<div class="layui-input-inline">
						<input type="file" class="file" name="userPic"
							title="Click the picture to upload" id="image-input"
							accept=".gif,.jpeg,.jpg,.jpe,.png" />
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label" style="width: 150px">Privilege</label>
					<div class="layui-input-inline">
						<select name="privilege" id="privilege">
							<option value="0" selected="selected">ordinary</option>
							<option value="2">registrar</option>
							<option value="6">administrator</option>
							<option value="10">custom</option>
							<option value="14">superadmin</option>
						</select>
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label" style="width: 150px">Category</label>
					<div class="layui-input-inline">
						<select name="category" id="category">
							<option value="0" selected="selected">ordinary</option>
							<option value="1">vip</option>
							<option value="2">blacklist</option>
						</select>
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label" style="width: 150px">Device
						SN</label>
					<div class="layui-input-block">
						<input type="radio" name="device_sn" value="4843182260054"
							title="4843182260054" checked="">
					</div>
				</div>

				<div class="layui-form-item" style="margin-left: 100px">

					<div class="layui-input-block">
						<button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
						<button type="button" onclick="resetForm()"
							class="layui-btn layui-btn-primary">重置</button>
					</div>
				</div>
			</form>
		</div>
</body>
</html>